/* adaptive */
@media screen and (max-width: 1920px) {
  .section__title {
    font-size: 24px;
    line-height: 34px; }

  .section__list {
    padding-top: 30px; }

  .section__navigation a {
    font-size: 16px !important;
    line-height: 18px !important; }
  .section__navigation .section__content img {
    width: 120px;
    height: 120px; }

  .section__catalog span {
    font-size: 16px;
    line-height: 18px; }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.96); }

  .menu__content a {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 35px; }
  .menu__content a:hover {
    margin-bottom: 33px; }

  .search__input {
    padding-bottom: 40px; } }
@media screen and (max-width: 1500px) {
  .section__title {
    font-size: 18px;
    line-height: 22px; }

  .section__list {
    padding-top: 30px; }

  .section__list a {
    font-size: 13px !important;
    margin-bottom: 5px !important; }

  .section__navigation a {
    font-size: 14px !important;
    line-height: 18px !important; }

  .section__content img {
    width: 100px;
    height: 100px; }

  .section__catalog span {
    font-size: 16px;
    line-height: 19px; }

  .menu__content a {
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 30px; }
  .menu__content a:hover {
    margin-bottom: 28px; }

  .search__input {
    padding-bottom: 30px; } }
@media screen and (max-width: 1300px) {
  .section__title {
    font-size: 18px;
    line-height: 21px; }

  .section__list {
    padding-top: 30px; }

  .section__list a {
    font-size: 11px !important;
    margin-bottom: 5px !important; }

  .section__navigation a {
    font-size: 10px !important;
    line-height: 14px !important; }

  .section__content img {
    width: 100px;
    height: 100px; }

  .section__catalog {
    font-size: 16px;
    line-height: 18px; }

  .menu__content a {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px; }
  .menu__content a:hover {
    margin-bottom: 23px; }

  .search__input {
    padding-bottom: 20px; } }
@media screen and (max-width: 1100px) {
  .section__title {
    font-size: 18px;
    line-height: 21px; }

  .section__list {
    padding-top: 30px; }

  .section__list a {
    font-size: 11px !important;
    margin-bottom: 7px !important; }

  .section__navigation a {
    font-size: 10px !important;
    line-height: 14px !important; }

  .section__content img {
    width: 80px;
    height: 80px; }

  .section__catalog {
    font-size: 10px;
    line-height: 13px; }

  .menu__content a {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px; }
  .menu__content a:hover {
    margin-bottom: 18px; }

  .search__input {
    padding-bottom: 15px; } }
@media screen and (max-width: 950px) {
  .section__title {
    font-size: 12px;
    line-height: 16px; }

  .section__list {
    padding-top: 10px; }

  .section__list a {
    font-size: 8px !important;
    margin-bottom: 0 !important; }

  .section__navigation a {
    font-size: 8px !important;
    line-height: 12px !important; }

  .section__content img {
    width: 60px;
    height: 60px; }

  .section__catalog {
    font-size: 12px;
    line-height: 11px; }

  .menu__content a {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px; }
  .menu__content a:hover {
    margin-bottom: 13px; }

  .search__input {
    padding-bottom: 10px; } }
@media screen and (max-width: 800px) {
  .section__title {
    font-size: 10px;
    line-height: 16px; }

  .section__list {
    padding-top: 5px; }

  .section__list a {
    font-size: 9px !important;
    margin-bottom: 0 !important; }

  .section__navigation > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .section__navigation > div a {
      font-size: 16px;
      line-height: 23px;
      text-decoration: none;
      color: #FFF; }

  .section__content img {
    width: 60px;
    height: 60px; }

  .section__catalog span {
    font-size: 12px;
    line-height: 13px; }

  .menu__content a {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 10px; }
  .menu__content a:hover {
    margin-bottom: 8px; }

  .search__input {
    padding-bottom: 10px; } }
@media screen and (max-width: 600px) {
  .container {
    height: auto;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
    grid-auto-rows: minmax(0, auto);
    border: none; }

  .section {
    border: none; }

  .section__title {
    font-size: 18px;
    line-height: 21px; }

  .section__inner-wrap {
    order: 2;
    display: flex;
    align-items: center; }

  .section__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 5% 40px 5%;
    text-decoration: none;
    justify-content: space-between; }
    .section__content img {
      margin-bottom: 20px;
      width: 80px;
      height: 80px;
      display: block;
      order: 1; }
    .section__content:hover img {
      display: block; }
    .section__content:hover .section__list {
      display: flex; }

  .section__list {
    display: flex;
    padding-top: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .section__list a {
      font-size: 14px !important;
      line-height: 17px;
      margin: 0 5px 15px 5px;
      width: 120px;
      text-align: center;
      font-weight: 500; }
      .section__list a:hover {
        text-decoration: underline; }

  .section__content-blue {
    background: #4285F4;
    transition: 0.5s; }
    .section__content-blue:hover {
      transition: 0.5s;
      opacity: 0.8; }

  .section__content-pink {
    background: #F44242;
    transition: 0.5s; }
    .section__content-pink:hover {
      transition: 0.5s;
      opacity: 087; }

  .section__navigation {
    display: none; }

  .section__form {
    padding: 17px 10px 12px 10px;
    order: -1;
    justify-content: space-between; }

  .section__logo {
    width: auto !important;
    display: flex;
    order: 0;
    padding: 40px 10% 60px 10%;
    justify-content: center; }

  .form__search {
    order: 2; }

  .form__nav {
    margin: 0;
    order: 1; }

  .mobile-display {
    margin-top: 10px;
    display: block; }

  .section__catalog {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px 5% 10px 5%;
    justify-content: center;
    align-items: center;
    background: #F5F6F7;
    height: 107px; }
    .section__catalog span {
      font-size: 12px;
      line-height: 17px;
      color: rgba(52, 54, 59, 0.8); }

  .section__catalog_align-left {
    display: none; }

  #back-top {
    display: block; }

  .menu {
    width: 100%; }

  .menu__content a {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 50px; }
  .menu__content a:hover {
    margin-bottom: 48px; }

  .search__input input {
    width: 87%;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px; }

  .search__input {
    padding-bottom: 0; } }

/*# sourceMappingURL=adaptive.css.map */
