body {
  background: blueviolet;
  background-image: url("../img/background-img.jpg");
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.container > div {
  padding: 1em;
}

.section {
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.6)

}


